#wpadminbar {
background: #003c78; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #003c78 0%, #00aac8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #003c78 0%,#00aac8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #003c78 0%,#00aac8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003c78', endColorstr='#00aac8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#wpadminbar a img {
     vertical-align: text-bottom;
}
